<section>
   {{#if autores }}
     {{#if editoriales}}
     <div class="mt-5 page-wrapper font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1 card-3">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title text-dark">{{#if editMode}}Editar Libro{{else}}Registrar libro{{/if}}</h2>
                    <form method="POST" action="{{#if editMode}}/Edit-Libro{{else}}/Add-Libro{{/if}}">
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="NOMBRE DEL LIBRO" name="nombreLibro" value="{{#if editMode}}{{libro.nombreLibro}}{{/if}}">
                        </div>  
                        <div class="input-group">
                            <input class="input--style-1" type="number" placeholder="DIGITE EL AÑO DE PUBLICACION" name="anoPublicacion" value="{{#if editMode}}{{libro.anoPublicacion}}{{/if}}" min="1940" max="2021"> 
                        </div>  
                        
    <div class="mb-3"> 
    <select class="form-select" id="autor" name="autor">
      <option {{#if editMode}}{{else}}{{/if}}>Seleccione un autor</option> 
      {{#each autor as |aut|}} 
    <option value="{{aut.idAutor}}">{{aut.nombreAutor}}</option>
      {{/each}} 
    </select>
    </div>
<br>
    <div class="mb-3"> 
    <select class="form-select" id="autor" name="autor">
      <option {{#if editMode}}{{else}}{{/if}}>Seleccione un editorial</option> 
      {{#each editorial as |edito|}} 
    <option value="{{edito.idEditorial}}">{{edito.nombreEditorial}}</option>
      {{/each}} 
    </select>
    </div>



                        {{#if editMode}} 
                            <input type="hidden" name="idLibro" value="{{libro.idLibro}}"> 
                        {{/if}}
                        <div 
                        class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">{{#if editMode}}Editar libro{{else}}Agregar libro{{/if}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
     {{else}}
     {{/if}}
     {{else}}
    <h1>No hay Editoriales o autores regitrados</h1>
   {{/if}}
</section>